/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* global styles */

/* border box */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    min-width: 1160px;
    font-size: 1.4em;
    font-family: Domine, Georgia, serif;
    font-weight: 400;
    line-height: 1.5em;
    color: #3E4951;
    background-image: url(../img/bg.jpg);
}

img {
    display: block;
    width: 100%;
}
.content-wrapper {
    padding: 1.25em 1.25em 0 1.25em;
    background-color: #fff;
    transition: .6s ease-in transform;
}

/* info-menu animation rules */

body.show-menu {
    overflow-x: hidden;
}

/* 
margin-top solution found here:
http://fvsch.com/code/transition-fade/test5.html
*/

body.show-menu .content-wrapper {
    transform:translateX(100%);
    margin-top: -10000px; 
    transition: transform .6s ease-in, margin-top 0s .6s;
} 

/* 
z-index change makes links work when 
content-wrapper hidden, but keeps extra space below
menu content. Leaving it in here so you can see
the alternate to using negative margin.


body.show-menu .info-menu {
    z-index: 10;
    transition: 0s z-index;
    transition-delay: .6s;
}
*/

/* fixed nav menu styles */

nav.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 11rem;
    height: 28rem;
    z-index: 999;
}

a.nav-icon:link, nav a.nav-icon:visited {
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

i.fa {
    display: block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: rgba(62, 73, 81, .03);
    text-align: center;
    line-height: 2.5em; /* fancy trick for centering a single line of text*/
}

/* div.social-menu allows for easier positioning and adding new buttons in future */
div.social-menu {
    display: inline-block;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
}

a.social-btn:link, a.social-btn:visited {
    display: block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 1);
    margin-bottom: 1em;
    text-indent: -9999px;
    background-image: url('../img/sprite.png');
    background-size: 500px 1500px;
    background-repeat: no-repeat;
}

a.social-btn:hover, a.social-btn:active, a.cta-btn:hover, a.cta-btn:active {
    border-color: rgba(255, 255, 255, .25);
} 

.social-menu a.twitter:link, .social-menu a.twitter:visited {
    background-position: -223px 2px;
    transition: .6s ease background-position;
}

.social-menu a.twitter:hover, .social-menu a.twitter:active {
    background-position: -223px -48px;
    transition: .6s ease background-position;
}

.social-menu a.facebook:link, .social-menu a.facebook:visited {
    background-position: -224px -99px;
    transition: .6s ease background-position;
}

.social-menu a.facebook:hover, .social-menu a.facebook:active {
    background-position: -224px -149px;
    transition: .6s ease background-position;
}
/* hero section styles */

.hero {
    position: relative;
    background-image: url('../img/sas-surfer-sewage.jpg');
    background-size: 59%;
    background-repeat: no-repeat;
    background-position: -9%;
}

.img-logo, .img-title {
    position: absolute;
    text-indent: -9999px;
    background-image: url('../img/sprite.png');
    background-size: 500px 1500px;
    background-repeat: no-repeat;
}

.img-logo {
    height: 55px;
    width: 120px;
    background-position: -193px -250px;
    top: 1.3em;
    left: 55%;
}

.img-title {
    height: 400px;
    width: 500px;
    background-position: 0 -450px;
    top: 2em;
    left: 36%;
}

.copy-hero {
    margin-left: 50%;
    padding: 24em 4em 5em 4em;
    text-align: center;
    background-color: #3E4951;
    color: #fff;
}

/* width control rules for copy in hero/header */
.copy-hero p {
    width: 373px;
    margin: 1em auto 1.25em auto;
}

.cta-btn:link, .cta-btn:visited {
    display: inline-block;
    padding: .5em 2em;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 1);
    font-family: Oswald, sans-serif;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: .7em;
}

/* large copy styles */

.copy-large {
    padding: 1em 8em;
}

.copy-large .width-container {
    width: 746px;
    margin: auto;
}

.copy-large h2 {
    padding: 0em 2rem;
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    margin: .83em 0 .5em 0;
}

.copy-large p {
    padding: 0em 1.5em;
    font-weight: 400;
}

.copy-large .cta-pullout {
    padding: .5em 7em .5em 0em;
    font-weight: 700;
}

.cta-pullout a:link, .cta-pullout a:visited {
    text-decoration: none;
    color: #3E4951;
    border-bottom: 1px #3E4951 solid;
}

.cta-pullout a:hover, .cta-pullout a:active {
    border-bottom-style: dotted;
}
a.hashtag:link, a.hashtag:visited {
    text-decoration: none;
    color: #00ACBA;
    font-weight: 700;
}

a.hashtag:hover, a.hashtag:active {
    color: #3E4951;
}

ul.social-tags {
    list-style-type: none;
    padding: 1rem 0 0 1.5em;
}

.social-tags li {
    display: inline-block;
    margin: 0 1rem 0 0;

}

.social-tags img {
}

/* Sign Up Form styles */

.sign-up .width-container {
    width: 552px;
    margin: auto;
}
form.sign-up {
    background: url('../img/bg.jpg');
    color: #fff;
    text-align: center;
    padding: 0 25% 3em 25%;
}

.sign-up h2 {
    padding: 3em 1rem 1rem 1rem;
    font-size: 1.75rem;
    line-height: 1.2em;
}

p.opt-in {
    font-size: .6em;
    color: #9BA0A4;
}

.opt-in a:link, .opt-in a:visited {
    color: inherit;
    text-decoration: none;
    padding-bottom: .1em;
    border-bottom: thin dotted #9BA0A4;
}

.opt-in a:hover, .opt-in a:active {
    border-bottom-style: solid;
}

label.form-box, .form-box input {
    display: block;
    text-align: left;
}

label.form-box {
    width: 65%;
    margin: 0 auto 1em auto;
    text-indent: 15px;
    font-family: Oswald, sans-serif;
    font-size: .55em;
    text-transform: uppercase;
    line-height: 2.5em;

}

.form-box input {
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 3em;
    background-color: rgba(13, 13, 13, 0.25);
    text-indent: 15px;
    font-size: 1.3em;
    font-family: sans-serif;
    font-weight: lighter;
}

.form-box input:hover, .form-box input:focus {
    background-color: rgba(13, 13, 13, 0.39);
}

input.checkbox {
    margin-right: .5em;
}

.sign-up .cta-btn:link, .sign-up .cta-btn:visited {
    margin: 1em 0em;
    background-color: #fff;
    color: #3E4951;
    font-weight: bold;
}

.sign-up .cta-btn:hover, .sign-up .cta-btn:active {
    border: 2px solid #fff;
    color: #00ACBA;
}
/* 
Style for the placholder text taken from -
https://css-tricks.com/snippets/css/style-placeholder-text/
*/

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.1);
   letter-spacing: 1px;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.1);
   letter-spacing: 1px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.1); 
   letter-spacing: 1px;
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.1);  
   letter-spacing: 1px;
}
/* end of borrowed code */

/* hidden/slideout info-menu styles*/

.info-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    background-image: url(../img/bg.jpg);
    min-width: 1160px;
    padding: 4rem 0em 2.5rem 0%;
    transition: padding-left .6s ease;
}

.show-menu .info-menu {
    padding-left: 20%;
    transition: padding-left .6s ease;
}
.info-menu h3 {
    font-family: Oswald, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: .7em;
    padding-top: 2rem;
}

.info-menu ul {
    list-style-type: none;
    padding: 0;
    line-height: 2em;
    font-size: 1.3rem;
}

.info-menu ul.site-pages {
    font-size: 2em;
    line-height: 1.4em;
    margin: .5em 0;
}

.info-menu a:link, .info-menu a:visited {
    color: #6D737A;
    text-decoration: none;
}

.info-menu a:hover, .info-menu a:active {
    color: #fff;
}

span.subtitle, span.subtitle:hover, span.subtitle:active {
    color: #4E545C;
}

/* the line-through rule is probably using js in the original site */
.info-menu li.current-page {
    text-decoration: line-through;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
